<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hurricanes - M31</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="main">
        <div class="menu">
          <nav>
               <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/doe">Doações</a></li>
                    <li><a href="/patrocine">Patrocine</a></li>
                    <li><a href="/contato">Contato</a></li>
               </ul>
          </nav>
        </div>
        <div class="container">
            <div class="header">
                <h2>M31</h2>
                <h1>Hurricanes</h1>
            </div>
            <div class="content">
                <div class="alimentos">
                    <h2>Doe Alimentos</h2>
                    <p>Nossos pontos de coleta:</p>
                    <p></p>
                </div>
                <div class="sangue">
                    <h2>Doe Sangue</h2>
                    <p>Hemonúcleo de Campo Mourão</p>
                    <p>Fone: (44) 3525-1102</p>
                    <p>Endereço: <a href="https://www.google.com.br/maps/place/Hemon%C3%BAcleo+de+Campo+Mour%C3%A3o/@-24.0441024,-52.3938508,17z/data=!3m1!4b1!4m6!3m5!1s0x94ed75102e3604db:0xbba33d410fba9487!8m2!3d-24.0441024!4d-52.3912759!16s%2Fg%2F1tgxk66x?entry=ttu&g_ep=EgoyMDI1MDUxNS4wIKXMDSoASAFQAw%3D%3D" target="_blank">Rua Mambore 1500, Campo Mourão, PR, 87302-140</a></p>
                    <p>Horários de Atendimento: Seg. - Sex. (07:30 - 10:59), (13:00 - 16:30)</p>
                    <button><a href="https://www.saude.pr.gov.br/Pagina/Doacao-de-Sangue" target="_blank">Agende</a></button>
                </div>
                <div class="medula">
                    <h2>Doe Medula</h2>
                    <p>Hemonúcleo de Campo Mourão</p>
                    <p>Fone: (44) 3525-1102</p>
                    <p>Endereço: <a href="https://www.google.com.br/maps/place/Hemon%C3%BAcleo+de+Campo+Mour%C3%A3o/@-24.0441024,-52.3938508,17z/data=!3m1!4b1!4m6!3m5!1s0x94ed75102e3604db:0xbba33d410fba9487!8m2!3d-24.0441024!4d-52.3912759!16s%2Fg%2F1tgxk66x?entry=ttu&g_ep=EgoyMDI1MDUxNS4wIKXMDSoASAFQAw%3D%3D" target="_blank">Rua Mambore 1500, Campo Mourão, PR, 87302-140</a></p>
                    <p>Horários de Atendimento: Seg. - Sex. (07:30 - 10:59), (13:00 - 16:30)</p>
                    <p>Agende no local</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>