<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hurricanes - M31</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <h2>M31</h2>
            <h1>Hurricanes</h1>
            <p>Bem-vinde a nossa sala!</p>
        </div>
        <hr>
        <div class="content">
            
        </div>
    </div>
</body>
</html>