<!DOCTYPE html>
<html lang="pt-br"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hurricanes - M31</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="main">
        <div class="menu">
          <nav>
               <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/doe">Doações</a></li>
                    <li><a href="/patrocine">Patrocine</a></li>
                    <li><a href="/contato">Contato</a></li>
               </ul>
          </nav>
        </div>
        <div class="container">
            <div class="header">
                <h2>M31</h2>
                <h1>Hurricanes</h1>
                <p>Equipe Roxa</p>
            </div>
            <div class="content">
                <p>Inspirados no 14-bis, de Santos Dumont —máquina que, apesar de parecer frágil frente à fúria da natureza, carregava uma ideia poderosa o suficiente para atravessar a história. <strong>Um furacão pode derrubar estruturas, mas não consegue apagar descobertas que mudam o mundo.</strong></p>
                <p>Acreditamos que a verdadeira força está na persistência, na visão e na coragem de voar mais alto, mesmo diante das tempestades.</p>
                <div class="patrocinio">
                    <h2>Nossos patrocinadores &#x1F49C</h2>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>